.main-li{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px #ff6c37;
    color: #ff6c37;
}

.style-li {
    color: rgb(0, 0, 0);
}

.style-li:hover, .main-li:hover {
    color:#ff6c37;
}

